In [5]:
pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel(r"C:\Users\KISHORE\Desktop\CHICAGO\Crime_Data.xlsx")
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,5741943,HN549294,2007-08-25 09:22:18,074XX N ROGERS AVE,560,ASSAULT,SIMPLE,OTHER,False,False,...,49.0,1.0,08A,NaN,NaN,2007,2015-08-17 15:03:40,NaN,NaN,NaN
1,25953,JE240540,2021-05-24 15:06:00,020XX N LARAMIE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,36.0,19.0,01A,1141387.0,1913179.0,2021,2023-11-18 15:39:49,41.917838,-87.755969,"(41.917838056, -87.755968972)"
2,26038,JE279849,2021-06-26 09:24:00,062XX N MC CORMICK RD,110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,50.0,13.0,01A,1152781.0,1941458.0,2021,2023-11-18 15:39:49,41.995219,-87.713355,"(41.995219444, -87.713354912)"
3,13279676,JG507211,2023-11-09 07:30:00,019XX W BYRON ST,620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,47.0,5.0,5,1162518.0,1925906.0,2023,2023-11-18 15:39:49,41.952345,-87.677975,"(41.952345086, -87.677975059)"
4,13274752,JG501049,2023-11-12 07:59:00,086XX S COTTAGE GROVE AVE,454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,6.0,44.0,08B,1183071.0,1847869.0,2023,2023-12-09 15:41:24,41.737751,-87.604856,"(41.737750767, -87.604855911)"

In [3]:
df.shape

(549999, 22)

In [4]:
df=df.drop(['ID', 'Case Number', 'X Coordinate', 'Y Coordinate','Location'],axis=1)

In [5]:
df.isnull().sum()

Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description      1673
Arrest                       0
Domestic                     0
Beat                         0
District                     0
Ward                    336325
Community Area          334906
FBI Code                     0
Year                         0
Updated On                   0
Latitude                  6912
Longitude                 6912
dtype: int64

In [6]:
df=df.drop_duplicates()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 548917 entries, 0 to 549998
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date                  548917 non-null  datetime64[ns]
 1   Block                 548917 non-null  object
 2   IUCR                  548917 non-null  object
 3   Primary Type          548917 non-null  object
 4   Description           548917 non-null  object
 5   Location Description  547247 non-null  object
 6   Arrest                548917 non-null  bool
 7   Domestic              548917 non-null  bool
 8   Beat                  548917 non-null  int64
 9   District              548917 non-null  int64
 10  Ward                  213216 non-null  float64
 11  Community Area        214619 non-null  float64
 12  FBI Code              548917 non-null  object
 13  Year                  548917 non-null  int64
 14  Updated On            548917 non-null  datetime64[ns]
 15  Latitude              542014 non-null  float64
 16  Longitude             542014 non-null  float64
dtypes: bool(2), datetime64[ns](2), float64(4), int64(3), object(6)
memory usage: 68.1+ MB

In [11]:
df.head()

,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On,Latitude,Longitude
0,2007-08-25 09:22:18,074XX N ROGERS AVE,560,ASSAULT,SIMPLE,OTHER,0,0,2422,24,49.0,1.0,08A,2007,2015-08-17 15:03:40,NaN,NaN
1,2021-05-24 15:06:00,020XX N LARAMIE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,1,0,2515,25,36.0,19.0,01A,2021,2023-11-18 15:39:49,41.917838,-87.755969
2,2021-06-26 09:24:00,062XX N MC CORMICK RD,110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,1,0,1711,17,50.0,13.0,01A,2021,2023-11-18 15:39:49,41.995219,-87.713355
3,2023-11-09 07:30:00,019XX W BYRON ST,620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,0,0,1922,19,47.0,5.0,5,2023,2023-11-18 15:39:49,41.952345,-87.677975
4,2023-11-12 07:59:00,086XX S COTTAGE GROVE AVE,454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,1,0,632,6,6.0,44.0,08B,2023,2023-12-09 15:41:24,41.737751,-87.604856

In [27]:
df['Arrest'] = df['Arrest'].astype(bool)
df['Domestic'] = df['Domestic'].astype(bool)

In [25]:
df.isnull().sum()

Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description    1670
Arrest                     0
Domestic                   0
Beat                       0
District                   0
FBI Code                   0
Year                       0
Updated On                 0
Latitude                6903
Longitude               6903
Time                       0
CDate                      0
dtype: int64

In [16]:
df['Time'] = df['Date'].dt.strftime('%H:%M:%S')
df['CDate'] = df['Date'].dt.strftime('%d/%m/%Y')

In [50]:
df.head()

,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year,Updated On,Latitude,Longitude,CDate,Time
0,2007-08-25 09:22:18,074XX N ROGERS AVE,560,ASSAULT,SIMPLE,OTHER,False,False,2422,24,08A,2007,2015-08-17 15:03:40,42.005582,-87.676580,2007-08-25,1900-01-01 09:22:18
1,2021-05-24 15:06:00,020XX N LARAMIE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,2515,25,01A,2021,2023-11-18 15:39:49,41.917838,-87.755969,2021-05-24,1900-01-01 15:06:00
2,2021-06-26 09:24:00,062XX N MC CORMICK RD,110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,1711,17,01A,2021,2023-11-18 15:39:49,41.995219,-87.713355,2021-06-26,1900-01-01 09:24:00
3,2023-11-09 07:30:00,019XX W BYRON ST,620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,1922,19,5,2023,2023-11-18 15:39:49,41.952345,-87.677975,2023-11-09,1900-01-01 07:30:00
4,2023-11-12 07:59:00,086XX S COTTAGE GROVE AVE,454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,632,6,08B,2023,2023-12-09 15:41:24,41.737751,-87.604856,2023-11-12,1900-01-01 07:59:00

In [21]:
df.shape

(548917, 19)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 548917 entries, 0 to 549998
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date                  548917 non-null  datetime64[ns]
 1   Block                 548917 non-null  object
 2   IUCR                  548917 non-null  object
 3   Primary Type          548917 non-null  object
 4   Description           548917 non-null  object
 5   Location Description  547247 non-null  object
 6   Arrest                548917 non-null  bool
 7   Domestic              548917 non-null  bool
 8   Beat                  548917 non-null  int64
 9   District              548917 non-null  int64
 10  FBI Code              548917 non-null  object
 11  Year                  548917 non-null  int64
 12  Updated On            548917 non-null  datetime64[ns]
 13  Latitude              548917 non-null  float64
 14  Longitude             548917 non-null  float64
 15  Time                  548917 non-null  object
 16  CDate                 548917 non-null  object
dtypes: bool(2), datetime64[ns](2), float64(2), int64(3), object(8)
memory usage: 68.1+ MB

In [24]:
df=df.drop(["Community Area","Ward"],axis=1)

In [29]:
df['Latitude'] = df.groupby('District')['Latitude'].transform(lambda x: x.fillna(x.mean()))
df['Longitude'] = df.groupby('District')['Longitude'].transform(lambda x: x.fillna(x.mean()))

In [58]:
df.isnull().sum()

Date                    0
Block                   0
IUCR                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
FBI Code                0
Year                    0
Updated On              0
Latitude                0
Longitude               0
CDate                   0
Time                    0
dtype: int64

In [38]:
df.drop(columns=["CDate", "Time"], inplace=True)

In [46]:
df["CDate"] = pd.to_datetime(df["Date"]).dt.date
df["CDate"] = pd.to_datetime(df["CDate"])

df["Time"] = pd.to_datetime(df["Date"]).dt.time
df["Time"] = pd.to_datetime(df["Date"]).dt.strftime('%H:%M:%S')

In [48]:
df["Time"] = pd.to_datetime(df["Time"].astype(str), format='%H:%M:%S')

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 548917 entries, 0 to 549998
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date                  548917 non-null  datetime64[ns]
 1   Block                 548917 non-null  object
 2   IUCR                  548917 non-null  object
 3   Primary Type          548917 non-null  object
 4   Description           548917 non-null  object
 5   Location Description  548917 non-null  object
 6   Arrest                548917 non-null  bool
 7   Domestic              548917 non-null  bool
 8   Beat                  548917 non-null  int64
 9   District              548917 non-null  int64
 10  FBI Code              548917 non-null  object
 11  Year                  548917 non-null  int64
 12  Updated On            548917 non-null  datetime64[ns]
 13  Latitude              548917 non-null  float64
 14  Longitude             548917 non-null  float64
 15  CDate                 548917 non-null  datetime64[ns]
 16  Time                  548917 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](4), float64(2), int64(3), object(6)
memory usage: 68.1+ MB

In [56]:
overall_mode = df['Location Description'].mode()[0]

df['Location Description'] = df.groupby('Description')['Location Description'].transform(
    lambda x: x.fillna(x.mode()[0] if not x.mode().empty else overall_mode)
)

In [59]:
#Save
df.to_csv(r'C:\Users\KISHORE\Desktop\CHICAGO\cleaned_data.csv', index=False)

In [60]:
df.shape

(548917, 17)